
body {
  padding-top: 56px;

}
p {
  font-family: 'Libre Franklin', sans-serif;
  font-style: oblique;
}
h1{
	font-family: "Latin Modern Roman 10";
  font-style: oblique;
}
h4{
  font-family: "Latin Modern Roman 10";
  font-style: oblique;
}

footer i {
  color: white;
  padding-left: 10px;
  
}

@media (max-width: 1000px){
  .card-img-top{
    max-width: 300px;
    max-height: 300px;
  }
}

